/.vscode
homekitGarage/build/build.options.json
homekitGarage/build/build_opt.h
homekitGarage/build/compile_commands.json
homekitGarage/build/core/base64.cpp.d
homekitGarage/build/core/base64.cpp.o
homekitGarage/build/core/cbuf.cpp.d
homekitGarage/build/core/cbuf.cpp.o
homekitGarage/build/core/chip-debug-report.cpp.d
homekitGarage/build/core/chip-debug-report.cpp.o
homekitGarage/build/core/ColorFormat.c.d
homekitGarage/build/core/ColorFormat.c.o
homekitGarage/build/core/core.a
homekitGarage/build/core/Esp.cpp.d
homekitGarage/build/core/Esp.cpp.o
homekitGarage/build/core/esp32-hal-adc.c.d
homekitGarage/build/core/esp32-hal-adc.c.o
homekitGarage/build/core/esp32-hal-bt.c.d
homekitGarage/build/core/esp32-hal-bt.c.o
homekitGarage/build/core/esp32-hal-cpu.c.d
homekitGarage/build/core/esp32-hal-cpu.c.o
homekitGarage/build/core/esp32-hal-dac.c.d
homekitGarage/build/core/esp32-hal-dac.c.o
homekitGarage/build/core/esp32-hal-gpio.c.d
homekitGarage/build/core/esp32-hal-gpio.c.o
homekitGarage/build/core/esp32-hal-hosted.c.d
homekitGarage/build/core/esp32-hal-hosted.c.o
homekitGarage/build/core/esp32-hal-i2c-ng.c.d
homekitGarage/build/core/esp32-hal-i2c-ng.c.o
homekitGarage/build/core/esp32-hal-i2c-slave.c.d
homekitGarage/build/core/esp32-hal-i2c-slave.c.o
homekitGarage/build/core/esp32-hal-i2c.c.d
homekitGarage/build/core/esp32-hal-i2c.c.o
homekitGarage/build/core/esp32-hal-ledc.c.d
homekitGarage/build/core/esp32-hal-ledc.c.o
homekitGarage/build/core/esp32-hal-matrix.c.d
homekitGarage/build/core/esp32-hal-matrix.c.o
homekitGarage/build/core/esp32-hal-misc.c.d
homekitGarage/build/core/esp32-hal-misc.c.o
homekitGarage/build/core/esp32-hal-periman.c.d
homekitGarage/build/core/esp32-hal-periman.c.o
homekitGarage/build/core/esp32-hal-psram.c.d
homekitGarage/build/core/esp32-hal-psram.c.o
homekitGarage/build/core/esp32-hal-rgb-led.c.d
homekitGarage/build/core/esp32-hal-rgb-led.c.o
homekitGarage/build/core/esp32-hal-rmt.c.d
homekitGarage/build/core/esp32-hal-rmt.c.o
homekitGarage/build/core/esp32-hal-sigmadelta.c.d
homekitGarage/build/core/esp32-hal-sigmadelta.c.o
homekitGarage/build/core/esp32-hal-spi.c.d
homekitGarage/build/core/esp32-hal-spi.c.o
homekitGarage/build/core/esp32-hal-time.c.d
homekitGarage/build/core/esp32-hal-time.c.o
homekitGarage/build/core/esp32-hal-timer.c.d
homekitGarage/build/core/esp32-hal-timer.c.o
homekitGarage/build/core/esp32-hal-tinyusb.c.d
homekitGarage/build/core/esp32-hal-tinyusb.c.o
homekitGarage/build/core/esp32-hal-touch-ng.c.d
homekitGarage/build/core/esp32-hal-touch-ng.c.o
homekitGarage/build/core/esp32-hal-touch.c.d
homekitGarage/build/core/esp32-hal-touch.c.o
homekitGarage/build/core/esp32-hal-uart.c.d
homekitGarage/build/core/esp32-hal-uart.c.o
homekitGarage/build/core/firmware_msc_fat.c.d
homekitGarage/build/core/firmware_msc_fat.c.o
homekitGarage/build/core/FirmwareMSC.cpp.d
homekitGarage/build/core/FirmwareMSC.cpp.o
homekitGarage/build/core/freertos_stats.cpp.d
homekitGarage/build/core/freertos_stats.cpp.o
homekitGarage/build/core/FunctionalInterrupt.cpp.d
homekitGarage/build/core/FunctionalInterrupt.cpp.o
homekitGarage/build/core/HardwareSerial.cpp.d
homekitGarage/build/core/HardwareSerial.cpp.o
homekitGarage/build/core/HashBuilder.cpp.d
homekitGarage/build/core/HashBuilder.cpp.o
homekitGarage/build/core/HEXBuilder.cpp.d
homekitGarage/build/core/HEXBuilder.cpp.o
homekitGarage/build/core/HWCDC.cpp.d
homekitGarage/build/core/HWCDC.cpp.o
homekitGarage/build/core/IPAddress.cpp.d
homekitGarage/build/core/IPAddress.cpp.o
homekitGarage/build/core/libb64/cdecode.c.d
homekitGarage/build/core/libb64/cdecode.c.o
homekitGarage/build/core/libb64/cencode.c.d
homekitGarage/build/core/libb64/cencode.c.o
homekitGarage/build/core/MacAddress.cpp.d
homekitGarage/build/core/MacAddress.cpp.o
homekitGarage/build/core/main.cpp.d
homekitGarage/build/core/main.cpp.o
homekitGarage/build/core/MD5Builder.cpp.d
homekitGarage/build/core/MD5Builder.cpp.o
homekitGarage/build/core/Print.cpp.d
homekitGarage/build/core/Print.cpp.o
homekitGarage/build/core/stdlib_noniso.c.d
homekitGarage/build/core/stdlib_noniso.c.o
homekitGarage/build/core/Stream.cpp.d
homekitGarage/build/core/Stream.cpp.o
homekitGarage/build/core/StreamString.cpp.d
homekitGarage/build/core/StreamString.cpp.o
homekitGarage/build/core/Tone.cpp.d
homekitGarage/build/core/Tone.cpp.o
homekitGarage/build/core/USB.cpp.d
homekitGarage/build/core/USB.cpp.o
homekitGarage/build/core/USBCDC.cpp.d
homekitGarage/build/core/USBCDC.cpp.o
homekitGarage/build/core/USBMSC.cpp.d
homekitGarage/build/core/USBMSC.cpp.o
homekitGarage/build/core/wiring_pulse.c.d
homekitGarage/build/core/wiring_pulse.c.o
homekitGarage/build/core/wiring_shift.c.d
homekitGarage/build/core/wiring_shift.c.o
homekitGarage/build/core/WMath.cpp.d
homekitGarage/build/core/WMath.cpp.o
homekitGarage/build/core/WString.cpp.d
homekitGarage/build/core/WString.cpp.o
homekitGarage/build/file_opts
homekitGarage/build/homekitGarage.ino.bin
homekitGarage/build/homekitGarage.ino.bootloader.bin
homekitGarage/build/homekitGarage.ino.elf
homekitGarage/build/homekitGarage.ino.map
homekitGarage/build/homekitGarage.ino.merged.bin
homekitGarage/build/homekitGarage.ino.partitions.bin
homekitGarage/build/includes.cache
homekitGarage/build/libraries.cache
homekitGarage/build/libraries/ArduinoOTA/ArduinoOTA.cpp.d
homekitGarage/build/libraries/ArduinoOTA/ArduinoOTA.cpp.o
homekitGarage/build/libraries/AsyncUDP/AsyncUDP.cpp.d
homekitGarage/build/libraries/AsyncUDP/AsyncUDP.cpp.o
homekitGarage/build/libraries/DNSServer/DNSServer.cpp.d
homekitGarage/build/libraries/DNSServer/DNSServer.cpp.o
homekitGarage/build/libraries/ESPmDNS/ESPmDNS.cpp.d
homekitGarage/build/libraries/ESPmDNS/ESPmDNS.cpp.o
homekitGarage/build/libraries/Ethernet/ETH.cpp.d
homekitGarage/build/libraries/Ethernet/ETH.cpp.o
homekitGarage/build/libraries/Hash/PBKDF2_HMACBuilder.cpp.d
homekitGarage/build/libraries/Hash/PBKDF2_HMACBuilder.cpp.o
homekitGarage/build/libraries/Hash/SHA1Builder.cpp.d
homekitGarage/build/libraries/Hash/SHA1Builder.cpp.o
homekitGarage/build/libraries/Hash/SHA2Builder.cpp.d
homekitGarage/build/libraries/Hash/SHA2Builder.cpp.o
homekitGarage/build/libraries/Hash/SHA3Builder.cpp.d
homekitGarage/build/libraries/Hash/SHA3Builder.cpp.o
homekitGarage/build/libraries/HomeSpan/HAP.cpp.d
homekitGarage/build/libraries/HomeSpan/HAP.cpp.o
homekitGarage/build/libraries/HomeSpan/HKDF.cpp.d
homekitGarage/build/libraries/HomeSpan/HKDF.cpp.o
homekitGarage/build/libraries/HomeSpan/HomeSpan.cpp.d
homekitGarage/build/libraries/HomeSpan/HomeSpan.cpp.o
homekitGarage/build/libraries/HomeSpan/Network.cpp.d
homekitGarage/build/libraries/HomeSpan/Network.cpp.o
homekitGarage/build/libraries/HomeSpan/src/extras/Blinker.cpp.d
homekitGarage/build/libraries/HomeSpan/src/extras/Blinker.cpp.o
homekitGarage/build/libraries/HomeSpan/src/extras/Pixel.cpp.d
homekitGarage/build/libraries/HomeSpan/src/extras/Pixel.cpp.o
homekitGarage/build/libraries/HomeSpan/src/extras/PwmPin.cpp.d
homekitGarage/build/libraries/HomeSpan/src/extras/PwmPin.cpp.o
homekitGarage/build/libraries/HomeSpan/src/extras/RFControl.cpp.d
homekitGarage/build/libraries/HomeSpan/src/extras/RFControl.cpp.o
homekitGarage/build/libraries/HomeSpan/src/extras/StepperControl.cpp.d
homekitGarage/build/libraries/HomeSpan/src/extras/StepperControl.cpp.o
homekitGarage/build/libraries/HomeSpan/SRP.cpp.d
homekitGarage/build/libraries/HomeSpan/SRP.cpp.o
homekitGarage/build/libraries/HomeSpan/TLV8.cpp.d
homekitGarage/build/libraries/HomeSpan/TLV8.cpp.o
homekitGarage/build/libraries/HomeSpan/Utils.cpp.d
homekitGarage/build/libraries/HomeSpan/Utils.cpp.o
homekitGarage/build/libraries/Network/NetworkClient.cpp.d
homekitGarage/build/libraries/Network/NetworkClient.cpp.o
homekitGarage/build/libraries/Network/NetworkEvents.cpp.d
homekitGarage/build/libraries/Network/NetworkEvents.cpp.o
homekitGarage/build/libraries/Network/NetworkInterface.cpp.d
homekitGarage/build/libraries/Network/NetworkInterface.cpp.o
homekitGarage/build/libraries/Network/NetworkManager.cpp.d
homekitGarage/build/libraries/Network/NetworkManager.cpp.o
homekitGarage/build/libraries/Network/NetworkServer.cpp.d
homekitGarage/build/libraries/Network/NetworkServer.cpp.o
homekitGarage/build/libraries/Network/NetworkUdp.cpp.d
homekitGarage/build/libraries/Network/NetworkUdp.cpp.o
homekitGarage/build/libraries/SPI/SPI.cpp.d
homekitGarage/build/libraries/SPI/SPI.cpp.o
homekitGarage/build/libraries/Update/HttpsOTAUpdate.cpp.d
homekitGarage/build/libraries/Update/HttpsOTAUpdate.cpp.o
homekitGarage/build/libraries/Update/Updater.cpp.d
homekitGarage/build/libraries/Update/Updater.cpp.o
homekitGarage/build/libraries/WiFi/AP.cpp.d
homekitGarage/build/libraries/WiFi/AP.cpp.o
homekitGarage/build/libraries/WiFi/STA.cpp.d
homekitGarage/build/libraries/WiFi/STA.cpp.o
homekitGarage/build/libraries/WiFi/WiFi.cpp.d
homekitGarage/build/libraries/WiFi/WiFi.cpp.o
homekitGarage/build/libraries/WiFi/WiFiAP.cpp.d
homekitGarage/build/libraries/WiFi/WiFiAP.cpp.o
homekitGarage/build/libraries/WiFi/WiFiGeneric.cpp.d
homekitGarage/build/libraries/WiFi/WiFiGeneric.cpp.o
homekitGarage/build/libraries/WiFi/WiFiMulti.cpp.d
homekitGarage/build/libraries/WiFi/WiFiMulti.cpp.o
homekitGarage/build/libraries/WiFi/WiFiScan.cpp.d
homekitGarage/build/libraries/WiFi/WiFiScan.cpp.o
homekitGarage/build/libraries/WiFi/WiFiSTA.cpp.d
homekitGarage/build/libraries/WiFi/WiFiSTA.cpp.o
homekitGarage/build/partitions.csv
homekitGarage/build/sdkconfig
homekitGarage/build/sketch/DEV_GARAGE.h
homekitGarage/build/sketch/homekitGarage.ino.cpp
homekitGarage/build/sketch/homekitGarage.ino.cpp.d
homekitGarage/build/sketch/homekitGarage.ino.cpp.o
homekitGarage/build/sketch/libraries/HomeSpan/docs/Blinkable.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/Categories.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/CLI.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/Cloning.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/FAQ.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/GettingStarted.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/HS_STATUS.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/Logging.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/Networks.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/NOW.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/OTA.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/Overview.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/Pixels.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/PWM.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/QRCodes.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/Reference.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/RMT.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/ServiceList.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/Solutions.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/Stepper.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/StepperDrivers/Stepper_A3967.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/StepperDrivers/Stepper_TB6612.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/StepperDrivers/Stepper_ULN2003A.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/StepperDrivers/Stepper_UNIPOLAR.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/StepperModes.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/TLV8.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/Tutorials.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/TVServices.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/UserGuide.md
homekitGarage/build/sketch/libraries/HomeSpan/docs/WDT.md
homekitGarage/build/sketch/libraries/HomeSpan/examples/05-WorkingLED/DEV_LED.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/06-DimmableLED/DEV_LED.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/07-AccessoryNames/DEV_LED.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/08-Bridges/DEV_LED.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/09-MessageLogging/DEV_LED.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/10-RGB_LED/DEV_LED.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/12-ServiceLoops/DEV_Sensors.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/13-TargetStates/DEV_DoorsWindows.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/14-EmulatedPushButtons/DEV_Blinker.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/15-RealPushButtons/DEV_LED.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/16-ProgrammableSwitches/DEV_ProgButton.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/18-SavingStatus/DEV_LED.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/19-WebLog/DEV_LED.h
homekitGarage/build/sketch/libraries/HomeSpan/examples/Other Examples/ServoControl/DEV_DoorsWindows.h
homekitGarage/build/sketch/libraries/HomeSpan/README.md
homekitGarage/build/sketch/libraries/HomeSpan/src/Characteristics.h
homekitGarage/build/sketch/libraries/HomeSpan/src/HAP.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/HAP.h
homekitGarage/build/sketch/libraries/HomeSpan/src/HAPConstants.h
homekitGarage/build/sketch/libraries/HomeSpan/src/HapQR.h
homekitGarage/build/sketch/libraries/HomeSpan/src/HKDF.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/HKDF.h
homekitGarage/build/sketch/libraries/HomeSpan/src/HomeSpan.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/HomeSpan.h
homekitGarage/build/sketch/libraries/HomeSpan/src/Network.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/Network_HS.h
homekitGarage/build/sketch/libraries/HomeSpan/src/PSRAM.h
homekitGarage/build/sketch/libraries/HomeSpan/src/Settings.h
homekitGarage/build/sketch/libraries/HomeSpan/src/Span.h
homekitGarage/build/sketch/libraries/HomeSpan/src/SpanRollback.h
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/Blinker.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/Blinker.h
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/Pixel.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/Pixel.h
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/PwmPin.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/PwmPin.h
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/RFControl.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/RFControl.h
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/Stepper_A3967.h
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/Stepper_TB6612.h
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/Stepper_UNIPOLAR.h
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/StepperControl.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/src/extras/StepperControl.h
homekitGarage/build/sketch/libraries/HomeSpan/src/SRP.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/SRP.h
homekitGarage/build/sketch/libraries/HomeSpan/src/TLV8.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/TLV8.h
homekitGarage/build/sketch/libraries/HomeSpan/src/Utils.cpp
homekitGarage/build/sketch/libraries/HomeSpan/src/Utils.h
homekitGarage/build/sketch/libraries/HomeSpan/src/version.h
